<p-table [value]="ejemplares">
    <ng-template pTemplate="caption"> Ejempalres </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th>ID</th>
            <th>localizacion</th>
            <th>nombreLibro</th>
            <th>Editar</th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-ejemplares>
        <tr>
            <td>{{ejemplares.id}}</td>
            <td>{{ejemplares.localizacion}}</td>
            <td>{{ejemplares.libro.titulo}}</td>
            <td><a pButton
                pRipple
                icon="pi pi-pencil"
                class="by-cyan-600 mr-1"
                [routerLink]="['edit/',ejemplares.id]">
            </a>
        </td>
        </tr>
    </ng-template>
</p-table>
